/* CBABeaconSans - CommBank's custom font */

@font-face {
  font-family: CBABeaconSans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/CBABeaconSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: CBABeaconSans;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/CBABeaconSans-Italic.woff2') format('woff2');
}

@font-face {
  font-family: CBABeaconSans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/CBABeaconSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: CBABeaconSans;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/CBABeaconSans-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: CBABeaconSans;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/CBABeaconSans-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: CBABeaconSans;
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/CBABeaconSans-ExtraBoldItalic.woff2') format('woff2');
}
